02_ejercicios/01_listin/listin.dtd

<!ELEMENT listin (persona+)>

<!ELEMENT persona (nombre, email*, relacion?)>

<!ATTLIST persona
        id CDATA #REQUIRED
        sexo (Hombre|Mujer) #IMPLIED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT relacion EMPTY>

<!ATTLIST relacion
        amigo_de CDATA #IMPLIED
        enemigo_de CDATA #IMPLIED >

